.spyproject/
build/
dist/
wheelhouse/
cx_Freeze/bases/*
!cx_Freeze/bases/README
cx_Freeze/util*.so
cx_Freeze/util*.dll
cx_Freeze/util*.pyd
cx_Freeze.egg-info/
MANIFEST
output.log
__pycache__
*.pyc
sample.xlsx
dump.sql
# PyCharm configuration files
.idea
