build/
dist/
wheelhouse/
cx_Freeze/bases/*
!cx_Freeze/bases/*-win*.exe
cx_Freeze.egg-info/
MANIFEST
output.log
__pycache__
*.pyc
sample.xlsx
dump.sql
.venv/

# PyCharm and Spyder configuration files
.idea
.spyproject/
.vscode/

# Don't allow pipenv/piplock files to be directly commited ( usage of `pip` only expected )
*Pipfile
*Pipfile.lock
# Ignore coverage reports
.coverage*
