exclude: ^tests/samples/invalid_syntax.py|^.bumpversion.cfg
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: https://github.com/psf/black
  rev: 22.1.0
  hooks:
  - id: black

- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
  - id: isort

- repo: https://github.com/asottile/pyupgrade
  rev: v2.31.0
  hooks:
  - id: pyupgrade

#- repo: https://github.com/asottile/setup-cfg-fmt
#  rev: v1.20.0
#  hooks:
#  - id: setup-cfg-fmt

#- repo: https://github.com/PyCQA/flake8
#  rev: 4.0.1
#  hooks:
#  - id: flake8

#- repo: https://github.com/PyCQA/pylint
#  rev: v2.12.2
#  hooks:
#    - id: pylint
#      name: pylint
#      entry: pylint
#      language: system
#      types: [python]
