-i https://pypi.org/simple
atomicwrites==1.4.0; sys_platform == 'win32'
attrs==21.2.0
colorama==0.4.4; sys_platform == 'win32'
coverage==5.5
iniconfig==1.1.1
nose==1.3.7
packaging==21.0
pluggy==1.0.0
py==1.10.0
pygments==2.10.0
pyparsing==2.4.7
pytest-cov==2.12.1
pytest-mock==3.6.1
pytest-timeout==1.4.2
pytest==6.2.5
toml==0.10.2
