include Makefile
include requirements.txt
include requirements-dev.txt
include cx_Freeze/bases/README
recursive-include cx_Freeze/initscripts *.py
recursive-include cx_Freeze/samples *.py *.md *.ico *.png
recursive-include doc *.css *.rst *.py Makefile
recursive-include source *.c *.h *.rc *.txt
recursive-include tests *.py *.md
