include LICENSE.md
include Makefile
include requirements.txt
include requirements-dev.txt
include requirements-doc.txt
include requirements-test.txt
include cx_Freeze/util.pyi
recursive-include cx_Freeze/hooks *.conf *.sh *.qrc
recursive-include cx_Freeze/icons *.icns *.ico *.png *.svg
recursive-include cx_Freeze/importshed *.pyi
recursive-include cx_Freeze/initscripts *.txt
recursive-include doc *.rst *.py Makefile
recursive-include samples *.*
recursive-include source *.c *.rc python.manifest
recursive-include tests *.py *.md
