[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
importlib_metadata = ">=3.1.1"

[dev-packages]
nose = "*"
pygments = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
pytest-timeout = "*"

[requires]
python_version = "3.9"
