--extra-index-url https://marcelotduarte.github.io/packages/


packaging>=21.0
setuptools>=59.0.1,<=60.10.0
cx-logging>=3.0 ;sys_platform == 'win32'
importlib-metadata>=4.8.3 ;python_version < '3.10'
lief>=0.11.5 ;sys_platform == 'win32'
patchelf>=0.12 ;sys_platform == 'linux'
