--extra-index-url https://marcelotduarte.github.io/packages/

setuptools>=62.6,<70
wheel>=0.38.4
cx_Logging>=3.1 ;sys_platform == 'win32'
lief>=0.12.0 ;sys_platform == 'win32'
patchelf>=0.14 ;sys_platform == 'linux' and platform_machine == 'x86_64'
patchelf>=0.14 ;sys_platform == 'linux' and platform_machine == 'i686'
patchelf>=0.14 ;sys_platform == 'linux' and platform_machine == 'aarch64'
patchelf>=0.14 ;sys_platform == 'linux' and platform_machine == 'armv7l'
patchelf>=0.14 ;sys_platform == 'linux' and platform_machine == 'ppc64le'
patchelf>=0.14 ;sys_platform == 'linux' and platform_machine == 's390x'

# dev
bump-my-version==0.11.0
cibuildwheel>=2.13.1
pre-commit>=2.21.0
pylint>=2.17.6
# doc
sphinx<7.2.0 ;python_version <= '3.8'
sphinx==7.2.2 ;python_version >= '3.9'
sphinx-tabs==3.4.1
furo==2023.8.19
# test
pytest>=7.4.0
pytest-cov>=4.1.0
pytest-datafiles>=3.0.0
pytest-mock>=3.11.1
pytest-timeout>=2.1.0
pytest-xdist[psutil]>=3.3.1
