sphinx==8.2.3 ;python_version >= '3.11'
sphinx-issues==5.0.1 ;python_version >= '3.11'
sphinx-new-tab-link==0.8.1 ;python_version >= '3.11'
sphinx-tabs==3.4.7 ;python_version >= '3.11'
furo==2025.9.25 ;python_version >= '3.11'
myst-parser==4.0.1 ;python_version >= '3.11'
