name: Build wheel

on:
  release:
    types:
      - created
  workflow_call:
  workflow_dispatch:

jobs:
  build_wheel:
    name: Build wheel
    runs-on: ubuntu-latest
    env:
      UV_SYSTEM_PYTHON: true
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.12"

      - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
        with:
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"

      - name: Bump new dev version
        if: github.event_name != 'release'
        run: |
          git config user.name "Marcelo Duarte"
          git config user.email marcelotduarte@users.noreply.github.com
          SOURCE_DATE_EPOCH=$(git log -1 --pretty=%ct)
          VERSION=$(uvx bump-my-version show current_version 2>/dev/null)
          VERSION_BASE=$(python -c "print('$VERSION'.rsplit('-',1)[0])")
          if [ "${{ github.event_name }}" == "pull_request" ]; then
            OPTIONAL=".${{ github.event.number }}"
          else
            OPTIONAL=""
          fi
          VERSION_NEW=$VERSION_BASE$OPTIONAL-dev.$SOURCE_DATE_EPOCH
          uvx bump-my-version bump --no-tag build --new-version=$VERSION_NEW 2>/dev/null
          git log -1

      - name: Build sdist and wheels
        run: ./ci/build-wheel.sh

      - name: Upload the artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: cx-freeze-wheel
          path: wheelhouse
          compression-level: 0 # no compression

  publish:
    if: github.event_name == 'release' && startsWith(github.ref, 'refs/tags')
    name: Publish package to PyPI
    needs: build_wheel
    environment:
      name: pypi
      url: https://pypi.org/p/cx-Freeze
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          path: wheelhouse
          pattern: cx-freeze-wheel
          merge-multiple: true

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # release/v1
        with:
          packages-dir: wheelhouse/
          skip-existing: true
          verbose: true
