name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  pre_commit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          cache: 'pip'
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -v -e .[dev,doc]

      - name: Run pre-commit
        run: >-
          pre-commit run --show-diff-on-failure --color=always
          --all-files --hook-stage=manual

  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
        python-version: ['3.8', '3.9', '3.10', '3.11', '3.12']
    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          cache: 'pip'
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies (Linux)
        if: runner.os == 'Linux'
        run: sudo apt-get install -y alien fakeroot rpm

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt --pre
          pip install -v -e .[test] --no-build-isolation

      - name: Generate coverage report
        run: pytest -nauto --cov="cx_Freeze" --cov-report=xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true

  tests_extra:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ windows-latest ]
        python-version: ['3.10']
        extra-requirement:
          - lief==0.13.2
          - lief-disabled
          - pywin32
    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          cache: 'pip'
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt --pre
          pip install -v -e .[test] --no-build-isolation

      - name: Generate coverage report
        run: |
          if [ "${{ matrix.extra-requirement }}" == "lief-disabled" ]; then
            export CX_FREEZE_BIND=imagehlp
          else
            pip install "${{ matrix.extra-requirement }}"
          fi
          pytest -nauto --cov="cx_Freeze" --cov-report=xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true

  tests_unix_binary_wheel:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        python-version: ['3.12']
    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}
          repository: marcelotduarte/cx_Freeze

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          cache: 'pip'
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies - build wheel
        run: |
          python -m pip install --upgrade pip setuptools
          pip install "`grep cibuildwheel requirements-dev.txt`"

      - name: Build wheel for Python ${{ matrix.python-version }}
        run: |
          PYTHON_TAG=cp$(echo ${{ matrix.python-version }}|sed 's/\.//')
          cibuildwheel --only ${PYTHON_TAG}-manylinux_x86_64

      - name: Upload the artifact
        uses: actions/upload-artifact@v4
        with:
          name: cx-freeze-pip-${{ matrix.os }}-${{ matrix.python-version }}
          path: wheelhouse

      - name: Install dependencies - tests
        run: |
          pip install -r requirements.txt --pre
          pip install -r requirements-test.txt
          pip install cx_Freeze --no-index --no-deps -f wheelhouse
          # enable extra test - pandas
          pip install pandas

      - name: Generate coverage report
        run: pytest -nauto --cov="cx_Freeze" --cov-report=xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
